@using TimeSheetMvc4WebApplication.Models
@{
    ViewBag.Title = "Смена режима работы";
}
<h2>Смена режима работы</h2>

<div class="row" ng-app ng-controller="RegimByCategory">

    <div class="col-md-4">
        <div id="categotyList" class="list-group">
            <a class="list-group-item" style="cursor: pointer;padding: 7px 10px;" ng-repeat="cat in Categoryes| filter:query" ng-click="SelectCategory(cat)" ng-class="cat.css">
                <h4 class=" list-group-item-heading" style="font-size: 16px;">
                    {{cat.CategorySmallName}}
                </h4>
                <p class="list-group-item-text">{{cat.CategoryFullName}} </p>
            </a>
            <div class="progress progress-striped active" id="catsLoad" style="margin: 20px 20px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <div class="col-md-8" >
        <h3 style="margin-top: 3px;">Редактирование режима для категории {{SelectedCategory.CategorySmallName}}</h3>
        <hr style="margin-top: 0;" />
            <div class="row">
                <div class="col-lg-10" style="height:400px">
                    <div class="progress progress-striped active" id="regsLoad" style="margin: 20px 20px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                    <select class="form-control" ng-options="regim.WorkSheduleName for regim in Regimes" ng-model="SelectedRegime" ></select>
                        
                    <div ng-class="LoadBar" style="z-index: 10; position:relative; top:20%; ">
                        <div class="progress progress-striped active" id="Load" >
                            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div> <span>Пожалуйста подождите ...</span>
                    </div>
                </div>
          
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <button style="margin-top: 10px" type="button" class="btn btn-default pull-right" ng-disabled="IsSaveDisable()" ng-click="Save()">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Сохранить изменения
                    </button>
                </p>
            </div>
        </div>
    </div>

<script>
    function RegimByCategory($scope, $http)
    {
        $http.get('@Html.Raw(@Url.Action("GetAllCategoryes", "Admin"))')
            .success(function (data) {
                $scope.Categoryes = data;
                $scope.SelectedCategory = null;
                $('#catsLoad').remove();
            });
        $http.get('@Html.Raw(@Url.Action("GetAllRegimes", "Admin"))')
            .success(function (data) {
                $scope.Regimes = data;
                $scope.SelectedRegime = data[0];
                $('#regsLoad').remove();
            });
        
        $scope.LoadBar = "hidden";
        $scope.SelectCategory = function (cat) {
            $scope.ClearCss();
            cat.css = "active";
            $scope.SelectedCategory = cat;
        };

        $scope.ClearCss = function () {
            angular.forEach($scope.Categoryes, function (cat) {
                cat.css = "";
            });
        };

        $scope.IsSaveDisable = function () {
            return ($scope.SelectedCategory == null) ? true : false;
        }

        $scope.Save = function () {
            console.log($scope.SelectedCategory);
            console.log($scope.SelectedRegime);
            $scope.LoadBar = "";

            var link = '@Html.Raw(@Url.Action("SaveChangeSummerRegime", "Admin", new { IdCategory = "IdCategoryReplace", IdWorkShedule = "IdWorkSheduleReplace" }))';
            link = link.replace("IdCategoryReplace", $scope.SelectedCategory.IdCategory).replace("IdWorkSheduleReplace", $scope.SelectedRegime.IdWorkShedule);
            console.log(link);
            $http.get(link).success(function (data) {
                if (data.result) {
                    alert('Изменения сохранены');
                    $scope.LoadBar = "hidden";
                }
                else {
                    $scope.LoadBar = "hidden";
                    alert('При сохранении возникли проблемы, изменения не сохранены');
                }
            });


        }

    }
</script>