@using TimeSheetMvc4WebApplication.Models
@{
    ViewBag.Title = "Структурные подразделения";
}

<h2>Структурные подразделения</h2>
<div class="row " ng-app ng-controller="Department">
    <div class="col-md-4">
        <div class="input-group input-group-sm" style="margin-bottom: 10px;">
            <input type="text" ng-model="query" class="form-control " ng-change="Search()">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>

        <div id="employeeList" class="list-group" style="overflow: auto; border: 1px solid #dddddd; min-height: 100px; -ms-border-radius: 5px; border-radius: 5px;">
            <a class="list-group-item" style="cursor: pointer; padding: 7px 10px; background-color: #f5f5f5;" ng-class="empl.css" ng-click="Back()" ng-hide="BackHide()">
                <h4 class=" list-group-item-heading" style="font-size: 16px;">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{CurrentDepartment.DepartmentSmallName}}
                </h4>
                <p class="list-group-item-text"> На уровень вверх</p>
            </a>
            <a class="list-group-item" style="cursor: pointer; padding: 7px 10px;" ng-repeat="dep in CerrentDepartments| filter:query" ng-click="SelectDepartment(dep)" ng-class="dep.css" @*ng-class="empl.css"*@>
                <span ng-hide="CanSetAsCurrentDepartment(dep.IdDepartment)" class="badge" ng-click="SetCurrentDepartment(dep.IdDepartment)"><span class="glyphicon glyphicon-chevron-right"></span></span>
                <h4 class=" list-group-item-heading" style="font-size: 16px;">
                    {{dep.DepartmentSmallName}}
                </h4>
                <p class="list-group-item-text">{{dep.DepartmentFullName}} </p>
            </a>
            <div class="progress progress-striped active" id="deparmentsLoad" style="margin: 20px 20px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8" ng-hide="DepartmentHide()">
        <div class="row">
            <div class="col-lg-10">
                <h3 style="margin-top: 3px;">Сотрудники подразделения {{SelectedDepartment.DepartmentSmallName}}</h3>
            </div>
            <div class="col-lg-2">
                <p>
                    <button type="button" class="btn btn-primary pull-right" ng-disabled="IsSaveDisable()" ng-click="Save()">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Сохранить
                    </button>
                </p>
            </div>
        </div>

        <hr style="margin-top: 0;" />
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Режим работы</th>
                <th>Персональный режим</th>
                <th>ФИО</th>
                <th>Должность</th>
                <th style="width:10em">час/нед </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="empl in sdEmployees | orderBy:['Surname']">
                <td>
                    <select class="form-control input-sm" ng-model="empl.Regim" ng-options="reg as reg.WorkSheduleName for reg in sdRegims | orderBy:['WorkSheduleName'] " ></select>
                </td>
                <td align="center"><input type="checkbox" ng-model="empl.IsPersonalShedule"></input></td>
                <td>{{GetEmployeeName(empl)}}</td>
                <td>{{GetEmployeePost(empl)}}</td>
                <td><input type="text" ng-model="empl.HoursWeek" width="10px"></td>
            </tr>
            </tbody>
        </table>
        <p>{{param}}</p>
    </div>
</div>

<script>
    function Department($scope, $http) {
        $http.get('@Html.Raw(@Url.Action("GetDepartment", "Admin", new { idTimeSheet = @Model }))').success(function (data) {
            $scope.Departments = data;
            $scope.DepIdList = [];
            $scope.SetCurrentDepartment(null);
            $scope.CurrentDepartment = null;
            $('#deparmentsLoad').remove();
        });

        $scope.SetCurrentDepartment = function (idManagеDepartment) {
            
            if ($scope.DepIdList.indexOf(idManagеDepartment) === -1) {
                $scope.DepIdList.push(idManagеDepartment);
            }
            var deps = [];
            $scope.CurrentDepartment = null;
            angular.forEach($scope.Departments, function (dep) {
                if (dep.IdManagerDepartment == idManagеDepartment)
                    deps.push(dep);
                if (dep.IdDepartment == idManagеDepartment) {
                    $scope.CurrentDepartment = dep;
                }
            });
            $scope.CerrentDepartments = deps;
            $scope.SelectDepartment(deps[0]);
        };

        $scope.Search = function () {
            if ($scope.query != '') {
                $scope.CerrentDepartments = $scope.Departments;
            } else
                $scope.SetCurrentDepartment(null);
        };

        $scope.Back = function () {
            $scope.DepIdList.splice($scope.DepIdList.length - 1, 1);
            $scope.SetCurrentDepartment($scope.DepIdList[$scope.DepIdList.length - 1]);
        };

        $scope.BackHide = function () {
            return $scope.CurrentDepartment == null ? true : false;
        };

        $scope.SelectDepartment = function (department) {
            $scope.ClearCss();
            department.css = "active";
            $scope.SelectedDepartment = department;
            console.log(department.IdDepartment);
            $scope.GetEmployees(department.IdDepartment);
        };

        $scope.ClearCss = function () {
            angular.forEach($scope.Departments, function (dep) {
                dep.css = "";
            });
        };

        $scope.GetEmployees = function (idDepartment) {
            var link = '@Html.Raw(@Url.Action("GetDepartmentFactStaffs", "Admin", new { id = "replaceId" }))';
            link = link.replace("replaceId", idDepartment);
            $http.get(link).success(function (data) {
                $scope.sdEmployees = data.DepartmentFactStaffs;
                $scope.sdRegims = data.AllRegimes;

                $scope.LoadRegims();
                
                $scope.EmployeesClone();
            });
        };

        $scope.EmployeesClone = function () {
            /*angular.forEach($scope.sdEmployees, function (sdEmployee) {
                if (sdEmployee.EmployeeLogin == null) {
                    sdEmployee.EmployeeLogin = '';
                }
            });*/
            $scope.clEmployees = angular.copy($scope.sdEmployees);
        };

        $scope.IsEmployeesEquals = function (sdEmployee, clEmployee) {
           
            if (sdEmployee.IdFactStaff == clEmployee.IdFactStaff && (sdEmployee.IsPersonalShedule == clEmployee.IsPersonalShedule)
                                                                 && (sdEmployee.HoursWeek == clEmployee.HoursWeek)
                                                                 && angular.equals(sdEmployee.Regim, clEmployee.Regim))
                return true;
            return false;
        };

        $scope.IsSaveDisable = function () {
            var result = true;
            angular.forEach($scope.sdEmployees, function (sdEmployee) {
                angular.forEach($scope.clEmployees, function (clEmployee) {
                    if (sdEmployee.IdFactStaff == clEmployee.IdFactStaff) {
                        if (!$scope.IsEmployeesEquals(sdEmployee, clEmployee)) {
                            result = false;
                        }
                    }
                });
            });
            return result;
        };

      /*  $scope.GetState = function (empl) {
            var r = '';
            angular.forEach($scope.clEmployees, function (clEmployee) {
                if (empl.IdEmployee == clEmployee.IdEmployee) {
                    if (!$scope.IsEmployeesEquals(empl, clEmployee)) {
                        r = 'glyphicon glyphicon-floppy-remove';
                    }
                }
            });
            return r;
        };*/




      /*  $scope.InitApprover = function (approver, employees) {
            if (approver == null) return null;
            var empl;
            angular.forEach(employees, function (employee) {
                if (approver.IdEmployee == employee.IdEmployee) {
                    empl = employee;
                    return;
                }
            });
            return empl;
        };*/

        $scope.DepartmentHide = function () {
            if ($scope.sdEmployees == null || $scope.sdEmployees.length == 0)
                return true;
            return false;
        };

        $scope.GetEmployeeName = function (employee) {
            return employee.Surname + ' ' + employee.Name + ' ' + employee.Patronymic;
        };

        $scope.GetEmployeePost = function (employee) {
            return employee.Post.Category.CategorySmallName + ', ' + employee.Post.PostSmallName +
                ' (' + employee.StaffRate + ' ст.)';
        };

        $scope.CanSetAsCurrentDepartment = function (idDepartment) {
            var result = true;
            angular.forEach($scope.Departments, function (dep) {
                if (dep.IdManagerDepartment == idDepartment)
                    result = false;
            });
            return result;
        };

        $scope.SaveRegime = function (employee) {
            var link = '@Html.Raw(@Url.Action("SaveEmployeeRegime", "Admin", new
                   {
                       IdFactStaff = "idFactStaffReplace",
                       IdWorkShedule = "IdWorkSheduleReplace",
                       isPersonalRegim = "isPersonalReplace",
                       HoursWeek = "HoursWeekReplace"
                   }))';
            link = link.replace("idFactStaffReplace", employee.IdFactStaff).replace("IdWorkSheduleReplace", employee.Regim.IdWorkShedule)
                       .replace("isPersonalReplace", employee.IsPersonalShedule).replace("HoursWeekReplace", employee.HoursWeek);
            console.log(link);
            $http.get(link).success(function (data) {
                if (data.result) {
                    console.log('approve save success');
                   /* angular.forEach($scope.clEmployees, function (sdEmployee) {
                        if (sdEmployee.IdFactStaff == employee.IdFactStaff) {

                            sdEmployee.WorkShedule.IdWorkShedule = employee.Regim.IdWorkShedule;
                        }
                    });*/
                    $scope.EmployeesClone();
                }
                else
                    alert('При сохранении возникли проблемы, изменения не сохранены');
            });
        };

        $scope.Save = function () {
            angular.forEach($scope.sdEmployees, function (sdEmployee) {
                angular.forEach($scope.clEmployees, function (clEmployee) {
                    if (sdEmployee.IdFactStaff == clEmployee.IdFactStaff) {
                        if (!$scope.IsEmployeesEquals(sdEmployee, clEmployee)) {
                            $scope.SaveRegime(sdEmployee);
                            if (!sdEmployee.IsPersonalShedule) {
                                angular.forEach($scope.sdEmployees, function(sdEmplSamePost) {
                                    if (sdEmployee.IdPlanStaff == sdEmplSamePost.IdPlanStaff) {
                                        console.log(sdEmployee.Regim.WorkSheduleName);
                                        console.log(sdEmplSamePost.Regim.WorkSheduleName);
                                        sdEmplSamePost.WorkShedule = angular.copy(sdEmployee.WorkShedule);
                                        sdEmplSamePost.Regim = sdEmployee.Regim;
                                    }
                                });
                            }
                        }
                    }
                });
            });
           // $scope.LoadRegims();
        };
        $scope.LoadRegims = function () {
            angular.forEach($scope.sdEmployees, function (empl) {
                $scope.LoadRegim(empl);
            });
        }

        $scope.LoadRegim = function (employee) {
            angular.forEach($scope.sdRegims, function (reg) {
                if (reg.IdWorkShedule == employee.WorkShedule.IdWorkShedule) {
                    employee.Regim = reg;
                }
            });
        }
    };
</script>

<script>
    $(window).load(function () {
        employeeListResize();
    });
    $(window).resize(function () {
        employeeListResize();
    });

    function employeeListResize() {
        var maxHeight = $(window).height();
        maxHeight = maxHeight - 200;
        $('#employeeList').css('max-height', maxHeight);
    }
</script>


