@{
    ViewBag.Title = "Реестр табелей";
    DateTime currentDate = ViewBag.Date;
}
<div class="row" ng-app ng-controller="TimeSheetRecords">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 400px;">Структурное подразделение</th>
                <th>Табеля</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dep in departments|orderBy:'DepartmentSmallName'">
                <td>{{dep.DepartmentSmallName}}</td>
                <td>
                    <ul style="margin-bottom: 0" class="list-inline">
                        <li ng-repeat="ts in dep.timesheets" style="padding-left: 5px;padding-right: 5px;">
                            <a href="{{timeSheetViewLink(ts)}}" style=" text-decoration: none">
                                <span ng-if="ts.ApproveStep==0" class="label label-danger" data-toggle="tooltip" title="Табель находится в процессе редактирования"><span class="glyphicon glyphicon-edit"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел.</span>
                                <span ng-if="ts.ApproveStep==1" class="label label-info" data-toggle="tooltip" title="Табель находиться в процессе согласования"><span class="glyphicon glyphicon-retweet"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел. </span>
                                <span ng-if="ts.ApproveStep==2" class="label label-info" data-toggle="tooltip" title="Табель находиться в процессе согласования"><span class="glyphicon glyphicon-retweet"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел. </span>
                                <span ng-if="ts.ApproveStep==3" class="label label-success" data-toggle="tooltip" title="Табель успешно согласован"><span class="glyphicon glyphicon-check"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел. </span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    $('.btn').tooltip('hide');
    $('.close').tooltip('hide');
    $('.label').tooltip('hide');
</script>
<script>
    function TimeSheetRecords($scope, $http) {
        $http.get('@Url.Action("GetData", "Register", new { date = currentDate })').success(function (data) {
            $scope.departments = data.deps;
            angular.forEach($scope.departments, function (dep) {
                var tsList = [];
                angular.forEach(data.ts, function (ts) {
                    if (dep.IdDepartment == ts.Department.IdDepartment)
                        tsList.push(ts);
                });
                dep.timesheets = tsList;
            });
        });

        $scope.jsonDateToDate = function (date) {
            var myDate = new Date(date.match(/\d+/)[0] * 1);
            return myDate.toString('dd.MM');
        };

        $scope.timeSheetViewLink = function (ts) {
            var link = '@Url.Action("TimeSheetShow", "Main", new { idTimeSheet = "replace" })';
            return link.replace('replace', ts.IdTimeSheet);
        };

        $scope.timeSheetApprovalLink = function (ts) {
            var link = '@Url.Action("TimeSheetApprovalNew", "Main", new { idtimesheet = "replace" })';
            return link.replace('replace', ts.IdTimeSheet);
        };
    }
</script>
<script>
    $('#HeaderLiBox').append("<li id=\"111\"><a href=\"@Url.Action("Index", "Register", new { date = currentDate.AddMonths(-1)})\" style=\"cursor:pointer;cursor:hand\" ><span class=\"glyphicon glyphicon-chevron-left\"></span></a></li>");
    $('#HeaderLiBox').append("<li id=\"111\"><p class=\"navbar-text\">Табеля за @currentDate.ToString("MMMM yyyy").ToLower() г.</p></li>");
    $('#HeaderLiBox').append("<li id=\"111\"><a href=\"@Url.Action("Index", "Register", new { date = currentDate.AddMonths(1)})\" style=\"cursor:pointer;cursor:hand\"><span class=\"glyphicon glyphicon-chevron-right\"></span></a></li>");

    //$('#HeaderLiBox').append("<li id=\"111\"><button type=\"submit\" class=\"btn btn-default navbar-btn\">Submit</button></li>");

    //$('#HeaderLiBox').append("<li id=\"111\">" +
    //    "<div class=\"btn-group navbar-form form-inline\" data-toggle=\"buttons\">" +
    //        "<label class=\"btn btn-default\">" +
    //            "<input type=\"radio\" name=\"options\" id=\"option1\"><span class=\"glyphicon glyphicon-align-justify\"></span> Option 1" +
    //        "</label>" +
    //        "<label class=\"btn btn-default\">" +
    //            "<input type=\"radio\" name=\"options\" id=\"option2\"><span class=\"glyphicon glyphicon-th-large\"></span> Option 2" +
    //        "</label>" +
    //    "</div></li>");

    $('#HeaderLiBox').append("<li id=\"111\">" +
    "<div class=\"btn-group navbar-form form-inline\">" +
        "<a class=\"btn btn-default active\" href=\"@Url.Action("Index","Register")\">" +
            "<span class=\"glyphicon glyphicon-align-justify\"></span> Табеля" +
        "</a>" +
        "<a class=\"btn btn-default\" href=\"@Url.Action("Index","Main")\">" +
            "<span class=\"glyphicon glyphicon-th-large\"></span> Подразделения" +
        "</a>" +
    "</div></li>");

    @*$('#HeaderLiBox').append("<li id=\"111\">" +
"<div class=\"btn-group navbar-form form-inline\">" +
    "<a class=\"btn btn-default active\" href=\"@Url.Action("Index","Register")\">" +
        "<span class=\"glyphicon glyphicon-align-justify\"></span> Option 1" +
    "</a>" +
    "<a class=\"btn btn-default\" href=\"@Url.Action("Index","Main")\">" +
        "<span class=\"glyphicon glyphicon-th-large\"></span> Option 2" +
    "</a>" +
"</div></li>");*@
</script>

