@{
    ViewBag.Title = "Реестр табелей";
}

<div class="row" ng-app ng-controller="TimeSheetRecords">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 400px;">Структурное подразделение</th>
                <th>Табеля</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dep in departments">
                <td>{{dep.DepartmentSmallName}}</td>
                <td>
                    @*<ul style="margin-bottom: 0" class="list-inline">
                            <li ng-repeat="ts in dep.timesheets" >
                                <span ng-if="ts.ApproveStep==0" class="label label-danger" ng-include="'/NgTemplates/RegisterTimeSheet.html'"> </span>
                                <span ng-if="ts.ApproveStep==1" class="label label-info" ng-include="'/NgTemplates/RegisterTimeSheet.html'"> </span>
                                <span ng-if="ts.ApproveStep==2" class="label label-info" ng-include="'/NgTemplates/RegisterTimeSheet.html'"> </span>
                                <span ng-if="ts.ApproveStep==3" class="label label-success" ng-include="'/NgTemplates/RegisterTimeSheet.html'"> </span>
                            </li>
                        </ul>*@

                    <ul style="margin-bottom: 0" class="list-inline">
                        <li ng-repeat="ts in dep.timesheets">
                            <a href="{{timeSheetViewLink(ts)}}" style=" text-decoration: none">
                                <span ng-if="ts.ApproveStep==0" class="label label-danger"> <span class="glyphicon glyphicon-edit"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел.</span>
                                <span ng-if="ts.ApproveStep==1" class="label label-info"><span class="glyphicon glyphicon-retweet"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел. </span>
                                <span ng-if="ts.ApproveStep==2" class="label label-info"><span class="glyphicon glyphicon-retweet"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел. </span>
                                <span ng-if="ts.ApproveStep==3" class="label label-success"><span class="glyphicon glyphicon-check"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел. </span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    function TimeSheetRecords($scope, $http) {
        $http.get('@Html.Raw(@Url.Action("GetApprover", "Register"))').success(function (data) {
            $scope.departments = data;
            $scope.getTimeSheets();
        });

        $scope.getTimeSheets = function () {
            var link = '@Url.Action("GetTimeSheets", "Register", new { id = "replaceIdDepartment" })';
            angular.forEach($scope.departments, function (dep) {
                var link1 = link.replace('replaceIdDepartment', dep.IdDepartment);
                console.log(link1);
                $http.get(link1).success(function (timesheets) {
                    dep.timesheets = timesheets;
                });
            });
        };

        $scope.jsonDateToDate = function (date) {
            var myDate = new Date(date.match(/\d+/)[0] * 1);
            return myDate.toString('dd.MM');
        };

        $scope.timeSheetViewLink = function (ts) {
            var link = '@Url.Action("TimeSheetShow", "Main", new { idTimeSheet = "replace" })';
            return link.replace('replace', ts.IdTimeSheet);
        };

        $scope.timeSheetApprovalLink = function (ts) {
            var link = '@Url.Action("TimeSheetApprovalNew", "Main", new { idtimesheet = "replace" })';
            return link.replace('replace', ts.IdTimeSheet);
        };
    }
</script>



