@model TimeSheetMvc4WebApplication.ClassesDTO.DtoApproverDepartment[]
@{
    const int itemsInRow = 4;

    var rowColl = Math.Ceiling((double)Model.Count() / (double)itemsInRow);
    for (int i = 0; i < rowColl; i++)
    {
        var rowItems = Model.Skip(i * itemsInRow).Take(itemsInRow);
        var span = Math.Floor(12 / (double)itemsInRow);
        <div class="row">
            @foreach (var item in rowItems)
            {


                <div class="@string.Format("col-sm-6 col-md-{0}", span)">
                    @*<div class="col-sm-6 col-md-3">*@
                    <h3>@item.DepartmentSmallName</h3>
                    <p style="height: 40px;">@item.DepartmentFullName</p>
                    <p style="color: darkgray">@item.ApproveTypeName</p>
                    <p><a class="btn btn-default btn-sm" href="@Url.Action("TimeSheets", "Main", new { id = item.IdDepartment })">Перейти к табелям <span class="glyphicon glyphicon-th"></span></a></p>
                </div>
            }
        </div>
    }
}

