@using TimeSheetMvc4WebApplication.Source
@{
    Layout = null;
    var approver = SessionHelper.Approver;
    var username = approver != null ? approver.FullName : string.Empty;
    var appDomineUrl = @Url.Action("IndexNew");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Табель@(!string.IsNullOrWhiteSpace(ViewBag.Title) ? " | " + ViewBag.Title : "")</title>
    <link rel="shortcut icon" href="../../Content/Images/logo.png" />
    @Styles.Render(new[] { "~/Content/timeSheet", "~/Content/bootstrap", "~/Content/bootstrap-datepicker" })
    @*@Scripts.Render(new[] { "~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/bootstrap", "~/Content/datejs", "~/Content/moment-with-langs", "~/Content/angularjs", "~/Scripts/bootstrap-datepicker" })*@
    @Scripts.Render(new[] { "~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/bootstrap", "~/Content/datejs", "~/Content/moment-with-langs", "~/Scripts/bootstrap-datepicker" })
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/AngularApps/timeSheetRegistrer.js"></script>
</head>
<body ng-app="ngApp" ng-controller="PagesCtrl as trc">
    <div ng-view></div>
    @*
        Header
    *@
    <nav class="navbar navbar-default" style="border-radius: 0;" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Main")">
                    <img style="height: 30px; margin-top: 8px; margin-right: 5px; float: left;" src="../../Content/Images/logo.png">
                </a>
                <a class="navbar-brand" href="@Url.Action("Index","Main")">Табель</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav" id="HeaderLiBox">
                    <li id="111"><a href="@Url.Action("Index", "Main" )" style="cursor:pointer;cursor:hand"><span class="glyphicon glyphicon-th-large"></span> Подразделения</a></li>
                    <li id="111" class="active"><a href="@Url.Action("Index", "Register" )" style="cursor:pointer;cursor:hand"><span class="glyphicon glyphicon-align-justify"></span> Табеля</a></li>
                    
                    <li id="111"><a href="@appDomineUrl{{previousMounth}}" style="cursor:pointer;cursor:hand"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li id="111"><p class="navbar-text">{{dateString}}</p></li>
                    <li id="111"><a href="@appDomineUrl{{nextMounth}}" style="cursor:pointer;cursor:hand"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("TabelAdmin"))
                    {
                        <li class="dropdown">
                            <a href="#" id="approverName" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @username <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("ExceptionDay", "Admin")"><span class="glyphicon glyphicon-calendar"></span> Выходные дни и праздники</a></li>
                                <li><a href="@Url.Action("DepartmentManagment","Admin")"><span class="glyphicon glyphicon-briefcase"></span> Структурные подразделения</a></li>
                            </ul>
                        </li>
                        <li>
                            <a id="ug" href="@Url.Action("Download","Main")" data-placement="bottom" data-toggle="tooltip" title="Просмотреть руководство пользователя" target="_blank" style="color: #777777"><span class="glyphicon glyphicon-question-sign"></span></a>
                        </li>
                    }
                    else
                    {
                        <li><a id="approverName"><span class="glyphicon glyphicon-user"></span> @username </a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <script>
        $('#ug').tooltip('hide');
    </script>

    @*
        Body
    *@

    <div class="container" id="mainContainer">
        @*<a href="@Url.Action("IndexNew"){{nextMounth}}"> Next</a><br />
        <a href="@Url.Action("IndexNew"){{previousMounth}}"> Previous</a><br />*@
        <div class="row">
            <table class="table table-hover" ng-show="departments">
                <thead>
                    <tr>
                        <th style="width: 400px;">Структурное подразделение</th>
                        <th>Табеля</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dep in departments|orderBy:'DepartmentSmallName'">
                        <td>
                            <a href="{{departmentLink(dep)}}" style="text-decoration: none; font-weight: bold;"><span class="glyphicon glyphicon-briefcase"></span> {{dep.DepartmentSmallName}}</a>
                        </td>
                        <td>
                            <ul style="margin-bottom: 0" class="list-inline">
                                <li ng-if="dep.timesheets!=null" ng-repeat="ts in dep.timesheets" style="padding-left: 5px;padding-right: 5px;">
                                    <a ng-if="ts.IsFake==false" href="{{timeSheetViewLink(ts)}}" style=" text-decoration: none">
                                        <span ng-show="ts.ApproveStep==0" class="label label-danger" data-toggle="tooltip" title="Табель находится в процессе редактирования"><span class="glyphicon glyphicon-edit"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел.</span>
                                        <span ng-show="ts.ApproveStep==1" class="label label-info" data-toggle="tooltip" title="Табель находиться в процессе согласования"><span class="glyphicon glyphicon-retweet"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел. </span>
                                        <span ng-show="ts.ApproveStep==2" class="label label-info" data-toggle="tooltip" title="Табель находиться в процессе согласования"><span class="glyphicon glyphicon-retweet"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел. </span>
                                        <span ng-show="ts.ApproveStep==3" class="label label-success" data-toggle="tooltip" title="Табель успешно согласован"><span class="glyphicon glyphicon-check"></span> от {{jsonDateToDate(ts.DateComposition)}} на {{ts.EmployeesCount}} чел. </span>
                                    </a>
                                    <span ng-show="ts.IsFake==true" class="label label-default" data-toggle="tooltip" title="Предоставлен бумажный вриант табеля"><span class="glyphicon glyphicon-file"></span> Бумажный табель</span>
                                </li>
                                <li ng-show="ts.IsFake==true" ng-repeat="ts in dep.timesheets" class="pull-right" style="padding-left: 5px;padding-right: 5px;">
                                    <a ng-show="ts.IsFake==true" @*href="{{dellFakeTs(dep)}}"*@ class="btn btn-default btn-xs " style=" text-decoration: none; width: 130px;" data-toggle="tooltip" title="Добавить отмету о наличии бумажного табеля" ng-click="dellFakeTs(ts)">
                                        <span class="glyphicon glyphicon-minus"></span> Удалить отметку
                                    </a>
                                </li>
                                <li ng-if="dep.timesheets !== 'undefined' && dep.timesheets.length==0 " class="pull-right" style="padding-left: 5px;padding-right: 5px;">
                                    <a @*href="{{adFakeTs(dep)}}"*@ class="btn btn-default btn-xs" style=" text-decoration: none; width: 130px;" data-toggle="tooltip" title="Добавить отмету о наличии бумажного табеля" ng-click="adFakeTs(dep)">
                                        <span class="glyphicon glyphicon-plus"></span> Добавить отметку
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
