@using TimeSheetMvc4WebApplication.Models

@model TimeSheetMvc4WebApplication.Models.ApproverModel[]
@{
    var approve1 = Model.FirstOrDefault(w => w.ApproveStep == 1);
    var approve2 = Model.FirstOrDefault(w => w.ApproveStep == 2);
    var approve3 = Model.FirstOrDefault(w => w.ApproveStep == 3);

    //заглушка чтоб не отображались согласователи
    //approve1.ApproveTime = null;
    //approve2.ApproveTime = null;
    //approve3.ApproveTime = null;


}
<table @*class="paperNum"*@ width="100%" border="0">
    @*    <tr>
            <td width="12">&nbsp;</td>
            <td width="214">&nbsp;</td>
            <td width="23">&nbsp;</td>
            <td width="214">&nbsp;</td>
            <td width="41">&nbsp;</td>
            <td width="184">&nbsp;</td>
            <td width="26">&nbsp;</td>
            <td width="190">&nbsp;</td>
            <td width="38">&nbsp;</td>
        </tr>*@
    <tr>
        <td>&nbsp;</td>
    </tr>
    @if (approve1 != null)
    {
        <tr>
            <td width="40">&nbsp;</td>
            <td width="200">Ответственное лицо</td>
            <td width="20">&nbsp;</td>
            <td width="200"><div id="idPoddpis">@approve1.Post</div></td>
            <td width="40">&nbsp;</td>
            @*<td width="200"><div id="idPoddpis" style="text-align: left"> @(approve1.ApproveTime.HasValue ? string.Format("{0} ({1})", approve1.Login, approve1.ApproveTime.Value.ToString("d.M.yyyy")) : string.Empty)</div></td>*@
            <td width="200"><div id="idPoddpis" style="text-align: left"> @(approve1.ApproveTime.HasValue ? string.Format("{0}", approve1.Login, approve1.ApproveTime.Value.ToString("d.M.yyyy")) : string.Empty)</div></td>
            <td width="26">&nbsp;</td>
            <td width="200"><div id="idPoddpis">@String.Format("{0} {1}.{2}.", approve1.Surname, approve1.Name.First(), approve1.Patronymic.First())</div></td>
            <td width="38">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><div align="center">(должность)</div></td>
            <td>&nbsp;</td>
            <td><div align="center">(имя пользователя, личная подпись)</div></td>
            <td>&nbsp;</td>
            <td><div align="center">(расшифровка подписи)</div></td>
            <td>&nbsp;</td>
        </tr>
    }

    @if (approve2 != null)
    {
        <tr>
            <td>&nbsp;</td>
            <td>Руководитель</td>
            <td>&nbsp;</td>
            <td><div id="idPoddpis">@approve2.Post</div></td>
            <td>&nbsp;</td>
            <td><div id="idPoddpis" style="text-align: left">@(approve2.ApproveTime.HasValue ? string.Format("{0} ", approve2.Login, approve2.ApproveTime.Value.ToString("d.M.yyyy")) : string.Empty)</div></td>
            <td>&nbsp;</td>
            <td><div id="idPoddpis">@String.Format("{0} {1}.{2}.", approve2.Surname, approve2.Name.First(), approve2.Patronymic.First())</div></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>структурного подразделения</td>
            <td>&nbsp;</td>
            <td><div align="center">(должность)</div></td>
            <td>&nbsp;</td>
            <td><div align="center">(имя пользователя, личная подпись)</div></td>
            <td>&nbsp;</td>
            <td><div align="center">(расшифровка подписи)</div></td>
            <td>&nbsp;</td>
        </tr>
    }
    @if (approve3 != null)
    {

        <tr>
            <td>&nbsp;</td>
            <td>Работник</td>
            <td>&nbsp;</td>
            <td><div id="idPoddpis">@approve3.Post</div></td>
            <td>&nbsp;</td>
            <td><div id="idPoddpis" style="text-align: left">@(approve3.ApproveTime.HasValue ? string.Format("{0} ", approve3.Login, approve3.ApproveTime.Value.ToString("d.M.yyyy")) : string.Empty)</div></td>
            <td>&nbsp;</td>
            <td><div id="idPoddpis">@String.Format("{0} {1}.{2}.", approve3.Surname, approve3.Name.First(), approve3.Patronymic.First())</div></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>кадровой службы</td>
            <td>&nbsp;</td>
            <td><div align="center">(должность)</div></td>
            <td>&nbsp;</td>
            <td><div align="center">(имя пользователя, личная подпись)</div></td>
            <td>&nbsp;</td>
            <td><div align="center">(расшифровка подписи)</div></td>
            <td>&nbsp;</td>
        </tr>
    }
</table>