@model TimeSheetMvc4WebApplication.Models.EmployeeModel
@{
    var takeElements = 0;
    const int takeElementsCount = 3;
}

<tr height=18>
    <td rowspan=4 height=72 width=20><div align="center">@Model.EmployeeNumber</div></td>
    <td rowspan=4 style="width: 100px; overflow: hidden;"><div class="EmployeeNameDiv">@string.Format("{0} {1} {2}", Model.Surname, Model.Name, Model.Patronymic) <br/> @Model.Post <br/> @string.Format("Ставка: {0}", Model.StaffRate.ToString("0.##"))</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[0].CSS"><div align="center">@Model.Records[0].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[1].CSS"><div align="center">@Model.Records[1].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[2].CSS"><div align="center">@Model.Records[2].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[3].CSS"><div align="center">@Model.Records[3].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[4].CSS"><div align="center">@Model.Records[4].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[5].CSS"><div align="center">@Model.Records[5].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[6].CSS"><div align="center">@Model.Records[6].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[7].CSS"><div align="center">@Model.Records[7].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[8].CSS"><div align="center">@Model.Records[8].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[9].CSS"><div align="center">@Model.Records[9].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[10].CSS"><div align="center">@Model.Records[10].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[11].CSS"><div align="center">@Model.Records[11].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[12].CSS"><div align="center">@Model.Records[12].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[13].CSS"><div align="center">@Model.Records[13].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[14].CSS"><div align="center">@Model.Records[14].DayStatus</div></td>
       
    <td rowspan=@Model.TimeSheduleDividing width=30><div align="center">@Model.FirstHalfMonthDays</div></td>
    
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[15].CSS"><div align="center">@Model.Records[15].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[16].CSS"><div align="center">@Model.Records[16].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[17].CSS"><div align="center">@Model.Records[17].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[18].CSS"><div align="center">@Model.Records[18].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[19].CSS"><div align="center">@Model.Records[19].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[20].CSS"><div align="center">@Model.Records[20].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[21].CSS"><div align="center">@Model.Records[21].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[22].CSS"><div align="center">@Model.Records[22].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[23].CSS"><div align="center">@Model.Records[23].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[24].CSS"><div align="center">@Model.Records[24].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[25].CSS"><div align="center">@Model.Records[25].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[26].CSS"><div align="center">@Model.Records[26].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="width: 19px; overflow: hidden; font-size: 8pt;" class="@Model.Records[27].CSS"><div align="center">@Model.Records[27].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="overflow: hidden; font-size: 8pt;" class="@Model.Records[28].CSS"><div align="center">@Model.Records[28].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="overflow: hidden; font-size: 8pt;" class="@Model.Records[29].CSS"><div align="center">@Model.Records[29].DayStatus</div></td>
    <td rowspan=@Model.TimeSheduleDividing style="overflow: hidden; font-size: 8pt;" class="@Model.Records[30].CSS"><div align="center">@Model.Records[30].DayStatus</div></td>
    <!--<td rowspan=2 style="width: 40px; overflow: hidden;" class="@Model.Records[31].CSS"><div align="center">@Model.Records[31].DayStatus</div></td> -->
    
    <td rowspan=@Model.TimeSheduleDividing width="30"> <div align="center">@Model.SecondHalfMonthDays</div></td>

    <td class="for_days" rowspan=2 width=40><div align="center">@Model.Days</div></td> <!-- Всего дней (для 5-6 дневки) -->
    
    <td class="for_night" rowspan="4"><div align="center">@Model.AllHours</div></td>      <!-- Всего за месяц (час) -->
    <td class="for_night" rowspan="2"><div align="center">@Model.Nights</div></td>     <!-- всего ночных смен -->

    @{
        foreach (var nonWorkedDay in Model.NonWorkedDays.Skip(takeElements).Take(takeElementsCount))
        {
            <td class="@nonWorkedDay.CSS">
                <div align="center">@nonWorkedDay.DayStatus</div></td>
            <td class="@nonWorkedDay.CSS">
                <div align="center">@nonWorkedDay.Value</div></td>
        }
        takeElements += takeElementsCount;
    }
    <td rowspan=4><div align="center">@Model.MounthDays</div></td> <!--Всего дней в месяце-->
    
    <td class="for_night" rowspan=4><div align="center">@Model.HolidayHours</div></td> <!--Часов в празднчные дни-->
</tr>
<tr height=18>
    @{
        if (Model.NightHours > 0) 
        {
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[0].CSS"><div align="center">@Model.Records[0].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[1].CSS"><div align="center">@Model.Records[1].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[2].CSS"><div align="center">@Model.Records[2].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[3].CSS"><div align="center">@Model.Records[3].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[4].CSS"><div align="center">@Model.Records[4].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[5].CSS"><div align="center">@Model.Records[5].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[6].CSS"><div align="center">@Model.Records[6].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[7].CSS"><div align="center">@Model.Records[7].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[8].CSS"><div align="center">@Model.Records[8].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[9].CSS"><div align="center">@Model.Records[9].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[10].CSS"><div align="center">@Model.Records[10].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[11].CSS"><div align="center">@Model.Records[11].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[12].CSS"><div align="center">@Model.Records[12].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[13].CSS"><div align="center">@Model.Records[13].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[14].CSS"><div align="center">@Model.Records[14].Value</div></td>

            <td rowspan=@Model.TimeSheduleDividing width=74><div align="center">@Model.FirstHalfMonthHours.ToString("G")</div></td>

            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[15].CSS"><div align="center">@Model.Records[15].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[16].CSS"><div align="center">@Model.Records[16].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[17].CSS"><div align="center">@Model.Records[17].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[18].CSS"><div align="center">@Model.Records[18].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[19].CSS"><div align="center">@Model.Records[19].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[20].CSS"><div align="center">@Model.Records[20].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[21].CSS"><div align="center">@Model.Records[21].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[22].CSS"><div align="center">@Model.Records[22].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[23].CSS"><div align="center">@Model.Records[23].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[24].CSS"><div align="center">@Model.Records[24].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[25].CSS"><div align="center">@Model.Records[25].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[26].CSS"><div align="center">@Model.Records[26].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[27].CSS"><div align="center">@Model.Records[27].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[28].CSS"><div align="center">@Model.Records[28].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[29].CSS"><div align="center">@Model.Records[29].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[30].CSS"><div align="center">@Model.Records[30].Value</div></td>

            <td rowspan=@Model.TimeSheduleDividing width=74><div align="center">@Model.SecondHalfMonthHours.ToString("G")</div></td>

        }

        foreach (var nonWorkedDay in Model.NonWorkedDays.Skip(takeElements).Take(takeElementsCount))
        {
            <td class="@nonWorkedDay.CSS"><div align="center">@nonWorkedDay.DayStatus</div></td>
                <td class="@nonWorkedDay.CSS"><div align="center">@nonWorkedDay.Value</div></td>
        }
        takeElements += takeElementsCount;
    }
</tr>
<tr height=18>
    @{
        if (Model.NightHours > 0)
        {
            <td class="@Model.Records[0].CSS"><div align="center">@Model.Records[0].NightStatus</div></td>
            <td class="@Model.Records[1].CSS"><div align="center">@Model.Records[1].NightStatus</div></td>
            <td class="@Model.Records[2].CSS"><div align="center">@Model.Records[2].NightStatus</div></td>
            <td class="@Model.Records[3].CSS"><div align="center">@Model.Records[3].NightStatus</div></td>
            <td class="@Model.Records[4].CSS"><div align="center">@Model.Records[4].NightStatus</div></td>
            <td class="@Model.Records[5].CSS"><div align="center">@Model.Records[5].NightStatus</div></td>
            <td class="@Model.Records[6].CSS"><div align="center">@Model.Records[6].NightStatus</div></td>
            <td class="@Model.Records[7].CSS"><div align="center">@Model.Records[7].NightStatus</div></td>
            <td class="@Model.Records[8].CSS"><div align="center">@Model.Records[8].NightStatus</div></td>
            <td class="@Model.Records[9].CSS"><div align="center">@Model.Records[9].NightStatus</div></td>
            <td class="@Model.Records[10].CSS"><div align="center">@Model.Records[10].NightStatus</div></td>
            <td class="@Model.Records[11].CSS"><div align="center">@Model.Records[11].NightStatus</div></td>
            <td class="@Model.Records[12].CSS"><div align="center">@Model.Records[12].NightStatus</div></td>
            <td class="@Model.Records[13].CSS"><div align="center">@Model.Records[13].NightStatus</div></td>
            <td class="@Model.Records[14].CSS"><div align="center">@Model.Records[14].NightStatus</div></td>

            <td><div align="center">@Model.FirstHalfMonthNights</div></td>  //ночей за первую половину месяца

            <td class="@Model.Records[15].CSS"><div align="center">@Model.Records[15].NightStatus</div></td>
            <td class="@Model.Records[16].CSS"><div align="center">@Model.Records[16].NightStatus</div></td>
            <td class="@Model.Records[17].CSS"><div align="center">@Model.Records[17].NightStatus</div></td>
            <td class="@Model.Records[18].CSS"><div align="center">@Model.Records[18].NightStatus</div></td>
            <td class="@Model.Records[19].CSS"><div align="center">@Model.Records[19].NightStatus</div></td>
            <td class="@Model.Records[20].CSS"><div align="center">@Model.Records[20].NightStatus</div></td>
            <td class="@Model.Records[21].CSS"><div align="center">@Model.Records[21].NightStatus</div></td>
            <td class="@Model.Records[22].CSS"><div align="center">@Model.Records[22].NightStatus</div></td>
            <td class="@Model.Records[23].CSS"><div align="center">@Model.Records[23].NightStatus</div></td>
            <td class="@Model.Records[24].CSS"><div align="center">@Model.Records[24].NightStatus</div></td>
            <td class="@Model.Records[25].CSS"><div align="center">@Model.Records[25].NightStatus</div></td>
            <td class="@Model.Records[26].CSS"><div align="center">@Model.Records[26].NightStatus</div></td>
            <td class="@Model.Records[27].CSS"><div align="center">@Model.Records[27].NightStatus</div></td>
            <td class="@Model.Records[28].CSS"><div align="center">@Model.Records[28].NightStatus</div></td>
            <td class="@Model.Records[29].CSS"><div align="center">@Model.Records[29].NightStatus</div></td>
            <td class="@Model.Records[30].CSS"><div align="center">@Model.Records[30].NightStatus</div></td>

            <td><div align="center">@Model.SecondHalfMonthNights</div></td>                         //ночей за вторую половину месяца
            
        }
        else
        {
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[0].CSS"><div align="center">@Model.Records[0].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[1].CSS"><div align="center">@Model.Records[1].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[2].CSS"><div align="center">@Model.Records[2].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[3].CSS"><div align="center">@Model.Records[3].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[4].CSS"><div align="center">@Model.Records[4].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[5].CSS"><div align="center">@Model.Records[5].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[6].CSS"><div align="center">@Model.Records[6].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[7].CSS"><div align="center">@Model.Records[7].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[8].CSS"><div align="center">@Model.Records[8].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[9].CSS"><div align="center">@Model.Records[9].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[10].CSS"><div align="center">@Model.Records[10].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[11].CSS"><div align="center">@Model.Records[11].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[12].CSS"><div align="center">@Model.Records[12].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[13].CSS"><div align="center">@Model.Records[13].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[14].CSS"><div align="center">@Model.Records[14].Value</div></td>

            <td rowspan=@Model.TimeSheduleDividing width=74><div align="center">@Model.FirstHalfMonthHours.ToString("G")</div></td>

            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[15].CSS"><div align="center">@Model.Records[15].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[16].CSS"><div align="center">@Model.Records[16].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[17].CSS"><div align="center">@Model.Records[17].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[18].CSS"><div align="center">@Model.Records[18].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[19].CSS"><div align="center">@Model.Records[19].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[20].CSS"><div align="center">@Model.Records[20].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[21].CSS"><div align="center">@Model.Records[21].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[22].CSS"><div align="center">@Model.Records[22].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[23].CSS"><div align="center">@Model.Records[23].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[24].CSS"><div align="center">@Model.Records[24].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[25].CSS"><div align="center">@Model.Records[25].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[26].CSS"><div align="center">@Model.Records[26].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[27].CSS"><div align="center">@Model.Records[27].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[28].CSS"><div align="center">@Model.Records[28].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[29].CSS"><div align="center">@Model.Records[29].Value</div></td>
            <td rowspan=@Model.TimeSheduleDividing class="@Model.Records[30].CSS"><div align="center">@Model.Records[30].Value</div></td>

            <td rowspan=@Model.TimeSheduleDividing width=74><div align="center">@Model.SecondHalfMonthHours.ToString("G")</div></td>
        }

        <td class="for_night" rowspan="2"><div align="center">@Model.NightHours</div></td>      //всего ночных часов
        <td class="for_days" rowspan="2"><div align="center">@Model.DayHours.ToString("G")</div></td>

        foreach (var nonWorkedDay in Model.NonWorkedDays.Skip(takeElements).Take(takeElementsCount))
        {
    <td class="@nonWorkedDay.CSS">
        <div align="center">@nonWorkedDay.DayStatus</div></td>
    <td class="@nonWorkedDay.CSS">
        <div align="center">@nonWorkedDay.Value</div></td>
    }
    takeElements += takeElementsCount;
    }
</tr>

<tr height=18 style='border: 1px solid black; border-width: 0 0 2px 0;'>
    @{
        if (Model.NightHours > 0)
        {
            <td class="@Model.Records[0].CSS"><div align="center">@Model.Records[0].Night</div></td>
            <td class="@Model.Records[1].CSS"><div align="center">@Model.Records[1].Night</div></td>
            <td class="@Model.Records[2].CSS"><div align="center">@Model.Records[2].Night</div></td>
            <td class="@Model.Records[3].CSS"><div align="center">@Model.Records[3].Night</div></td>
            <td class="@Model.Records[4].CSS"><div align="center">@Model.Records[4].Night</div></td>
            <td class="@Model.Records[5].CSS"><div align="center">@Model.Records[5].Night</div></td>
            <td class="@Model.Records[6].CSS"><div align="center">@Model.Records[6].Night</div></td>
            <td class="@Model.Records[7].CSS"><div align="center">@Model.Records[7].Night</div></td>
            <td class="@Model.Records[8].CSS"><div align="center">@Model.Records[8].Night</div></td>
            <td class="@Model.Records[9].CSS"><div align="center">@Model.Records[9].Night</div></td>
            <td class="@Model.Records[10].CSS"><div align="center">@Model.Records[10].Night</div></td>
            <td class="@Model.Records[11].CSS"><div align="center">@Model.Records[11].Night</div></td>
            <td class="@Model.Records[12].CSS"><div align="center">@Model.Records[12].Night</div></td>
            <td class="@Model.Records[13].CSS"><div align="center">@Model.Records[13].Night</div></td>
            <td class="@Model.Records[14].CSS"><div align="center">@Model.Records[14].Night</div></td>

            <td><div align="center">@Model.FirstHalfMonthNightHours</div></td>  //ночей за первую половину месяца

            <td class="@Model.Records[15].CSS"><div align="center">@Model.Records[15].Night</div></td>
            <td class="@Model.Records[16].CSS"><div align="center">@Model.Records[16].Night</div></td>
            <td class="@Model.Records[17].CSS"><div align="center">@Model.Records[17].Night</div></td>
            <td class="@Model.Records[18].CSS"><div align="center">@Model.Records[18].Night</div></td>
            <td class="@Model.Records[19].CSS"><div align="center">@Model.Records[19].Night</div></td>
            <td class="@Model.Records[20].CSS"><div align="center">@Model.Records[20].Night</div></td>
            <td class="@Model.Records[21].CSS"><div align="center">@Model.Records[21].Night</div></td>
            <td class="@Model.Records[22].CSS"><div align="center">@Model.Records[22].Night</div></td>
            <td class="@Model.Records[23].CSS"><div align="center">@Model.Records[23].Night</div></td>
            <td class="@Model.Records[24].CSS"><div align="center">@Model.Records[24].Night</div></td>
            <td class="@Model.Records[25].CSS"><div align="center">@Model.Records[25].Night</div></td>
            <td class="@Model.Records[26].CSS"><div align="center">@Model.Records[26].Night</div></td>
            <td class="@Model.Records[27].CSS"><div align="center">@Model.Records[27].Night</div></td>
            <td class="@Model.Records[28].CSS"><div align="center">@Model.Records[28].Night</div></td>
            <td class="@Model.Records[29].CSS"><div align="center">@Model.Records[29].Night</div></td>
            <td class="@Model.Records[30].CSS"><div align="center">@Model.Records[30].Night</div></td>

            <td><div align="center">@Model.SecondHalfMonthNightHours</div></td>  //ночей за вторую половину месяца
            

        }

        foreach (var nonWorkedDay in Model.NonWorkedDays.Skip(takeElements).Take(takeElementsCount))
        {
            <td class="@nonWorkedDay.CSS">
                <div align="center">@nonWorkedDay.DayStatus</div></td>
            <td class="@nonWorkedDay.CSS">
                <div align="center">@nonWorkedDay.Value</div></td>
        }
    }
</tr>
