@model TimeSheetMvc4WebApplication.Models.TimeSheetModel
@*<small>*@
<table border="0" cellpadding="0" cellspacing="0" width="100%">
@*<table width="100%" border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse; table-layout: fixed;">*@
    <tr height="20">
        <td width="34"></td>
        <td width="133"></td>
        <td width="48"></td>
        <td width="43"></td>
        <td width="39"></td>
        <td width="46"></td>
        <td width="43"></td>
        <td width="43"></td>
        <td width="39"></td>
        <td width="42"></td>
        <td width="42"></td>
        <td width="41"></td>
        <td width="104"></td>
        <td width="42"></td>
        <td width="56"></td>
        <td width="56"></td>
        <td width="56"></td>
        <td width="220" rowspan="2">
            <table width="100%" border="1" bordercolor='black' cellpadding="0" cellspacing="0" style='border-collapse: collapse; table-layout: fixed'>
                <tr>
                    <td width="56%" height="18">
                        <div class="EmployeeNameDiv">Форма по ОКУД</div>
                    </td>
                    <td width="44%">
                        <div class="EmployeeNameDiv">0301008</div>
                    </td>
                </tr>
                <tr>
                    <td height="18">
                        <div class="EmployeeNameDiv">Форма по ОКПО</div>
                    </td>
                    <td>
                        <div class="EmployeeNameDiv">02069562</div>
                    </td>
                </tr>
            </table>
        </td>
        <td width="100"></td>
    </tr>
    <tr height="20">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr height="22">
        <td colspan="19" >
            <div align="center">
                ФГБОУ ВПО
        &quot;Ухтинский государственный технический университет&quot;
            </div>
        </td>
    </tr>
    <tr height="22">
        <td colspan="19"  style='border-top: solid 2px #000; font-size: 8pt;'>
            <div align="center">
                (наименование
        организации)
            </div>
        </td>
    </tr>
    <tr height="27" valign="bottom">
        <td colspan="19"  >
            <div style="margin: 3px;" align="center">@Model.DepartmentName</div>
        </td>
    </tr>
    <tr height="22">
        <td colspan="19"  style='border-top: solid 2px #000; font-size: 8pt;'>
            <div align="center">
                (структурное подразделение)
            </div>
        </td>
    </tr>

    <tr height="20">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="5" rowspan="3">
            <table @*width="100%"*@ border="1" bordercolor='black' cellpadding="0" cellspacing="0" style='border-collapse: collapse; table-layout: fixed;width: 100%;max-width: 270px;'>
                <tr>
                    <td height="28">
                        <div align="center">Номер документа</div>
                    </td>
                    <td>
                        <div align="center">Дата составления</div>
                    </td>
                </tr>
                <tr>
                    <td height="27">
                        <div align="center">@*@Model.DocumentNumber*@</div>
                    </td>
                    <td>
                        <div align="center">@Model.DateComposition.ToShortDateString()</div>
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td rowspan="3">
            <table width="100%" border="1" bordercolor='black' cellpadding="0" cellspacing="0" style='border-collapse: collapse; table-layout: fixed'>
                <tr>
                    <td colspan="2" height="18">
                        <div align="center">Отчетный период</div>
                    </td>
                </tr>
                <tr>
                    <td width="50%" height="18">
                        <div align="center">с</div>
                    </td>
                    <td width="50%" height="18">
                        <div align="center">по</div>
                    </td>
                </tr>
                <tr>
                    <td height="18">
                        <div align="center">@Model.DateBeginPeriod.ToShortDateString()</div>
                    </td>
                    <td height="18">
                        <div align="center">@Model.DateEndPeriod.ToShortDateString()</div>
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
    <tr height="20">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr height="20">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr height="23">
        <td height="23"></td>
        <td></td>
        <td></td>
        <td colspan="4"><b>Т А Б Е Л Ь</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr height="23">
        <td height="23"></td>
        <td></td>
        <td colspan="7"><b>учета   рабочего  времени</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

@foreach (var paper in Model.Papers)
{
    @Html.Partial("PartialView\\TimeSheetPaperPartialView", paper)
    <br />
}
