@using System
@using System.Linq
@using TimeSheetMvc4WebApplication.ClassesDTO
@model DtoApprover
@{
    Layout = "~/Views/Shared/TimeSheetLayout.cshtml";
    var approver = ViewBag.approver as DtoApprover;
}

@if (Model.GetApproverDepartments() != null && Model.GetApproverDepartments().Any())
{   
    const int itemsInRow = 4;
    var rowColl = Math.Ceiling((double)Model.GetApproverDepartments().Count() / (double)itemsInRow);
    var departments = Model.GetApproverDepartments().OrderBy(o => o.DepartmentSmallName);
    
    for (int i = 0; i < rowColl; i++)
    {
        var rowItems = departments.Skip(i * itemsInRow).Take(itemsInRow);
        var span = Math.Floor(12 / (double)itemsInRow);
        <div class="row">
            @foreach (var item in rowItems)
            {
                <div class="@string.Format("col-sm-6 col-md-{0}", span)">
                    <h3>@item.DepartmentSmallName</h3>
                    <p style="height: 50px;">@item.DepartmentFullName</p>
                    <p style="color: darkgray">
                        @{
                            var roles = Model.GetDepartmentApproverNumbers(item.IdDepartment).Select(s => s.ApproveTypeName).ToArray();
                            for (var i1 = 0; i1 < roles.Count() - 1; i1++)
                            {
                                @Html.Raw(string.Format("{0}, ", roles[i]))
                            }
                            @Html.Raw(string.Format("{0}", roles.Last()))
                        }
                    </p>
                    <p><a class="btn btn-default btn-sm" href="@Url.Action("TimeSheetList", "Main", new { id = item.IdDepartment })">Перейти к табелям <span class="glyphicon glyphicon-th"></span></a></p>
                </div>
            }
        </div>
    }
}
else
{
    <div class="alert alert-error">
        <p>За вами не закреплено ни одного структурного подразделения.</p>
    </div>
}

@if (approver != null && (approver.IsAdministrator || approver.Allowed(ApproveState.РаботникКадров)))
{
    <script>
        $('#HeaderLiBox').append("<li id=\"111\">" +
            "<div class=\"btn-group navbar-form form-inline\">" +
            "<a class=\"btn btn-default\" href=\"@Url.Action("Index", "Register")\">" +
            "<span class=\"glyphicon glyphicon-align-justify\"></span> Табеля" +
            "</a>" +
            "<a class=\"btn btn-default active\" href=\"@Url.Action("Index", "Main")\">" +
            "<span class=\"glyphicon glyphicon-th-large\"></span> Подразделения" +
            "</a>" +
            "</div></li>");
    </script>
}