@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="../../Content/Images/logo.png" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/TimeSheetCSS.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/TimeSheetApprovalCSS.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
</head>

    <body >
        @RenderBody()
    </body>
</html>
