@using TimeSheetMvc4WebApplication.Source
@{
    var approver = SessionHelper.Approver;
    var username = approver!=null?approver.FullName:string.Empty;
}
<nav class="navbar navbar-default" style="border-radius: 0;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index","Main")">
                <img style="height: 30px; margin-top: 8px; margin-right: 5px; float: left;" src="../../Content/Images/logo.png">
            </a>
            <a class="navbar-brand" href="@Url.Action("Index","Main")">Табель</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav" id="HeaderLiBox"></ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated && User.IsInRole("TabelAdmin"))
                {
                    <li class="dropdown">
                        <a href="#" id="approverName" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @username <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("ExceptionDay", "Admin")"><span class="glyphicon glyphicon-calendar"></span> Выходные дни и праздники</a></li>
                            <li><a href="@Url.Action("DepartmentManagment", "Admin")"><span class="glyphicon glyphicon-briefcase"></span> Структурные подразделения</a></li>
                            <li><a href="@Url.Action("EditLogin", "Admin")"><span class="glyphicon glyphicon-user"></span> Логины пользователей</a></li>
                            <li><a href="@Url.Action("EditRegim", "Admin")"><span class="glyphicon glyphicon-calendar"></span> Режимы сотрудников</a></li>
                        </ul>
                    </li>
                    <li>
                        <a id="ug" href="@Url.Action("Download","Main")" data-placement="bottom" data-toggle="tooltip" title="Просмотреть руководство пользователя" target="_blank" style="color: #777777"><span class="glyphicon glyphicon-question-sign"></span></a>
                    </li>
                }
                else
                {
                    <li><a id="approverName"><span class="glyphicon glyphicon-user"></span> @username </a></li>
                    <li>
                        <a id="ug" href="@Url.Action("Download","Main")" data-placement="bottom" data-toggle="tooltip" title="Просмотреть руководство пользователя" target="_blank" style="color: #777777"><span class="glyphicon glyphicon-question-sign"></span></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>



<script>
    $('#ug').tooltip('hide');
    @*$.ajax({
        url: '@Url.Action("GetApproverName","Base")',
        cache: true,
        success: function(data) {
            $('#approverName').prepend('<span class="glyphicon glyphicon-user"></span> ' + data);
        }});*@
</script>
