@using System.Web.Mvc
@using System.Web.Routing

@helper Pagenator(string url, int currentPage, int pageCount, int pagesPerPage = 10)
{
    var endPageNo = (currentPage + pagesPerPage / 2) >= pageCount ? pageCount : (currentPage + pagesPerPage / 2);
    var startPageNo = endPageNo - pagesPerPage < 1 ? 1 : endPageNo - pagesPerPage;
    if (startPageNo == 1)
    {
        //endPageNo = startPageNo+pagesPerPage < pageCount ? pagesPerPage : pageCount;
        endPageNo = startPageNo + pagesPerPage < pageCount ? startPageNo + pagesPerPage : pageCount;
    }
    <ul class="pagination pull-right" style="margin: 0">
        @if (startPageNo < currentPage)
        {
            <li><a href="@url.Replace("pageReplace", (currentPage - 1).ToString())">&laquo;</a></li>
        }
        @for (var i = startPageNo; i <= endPageNo; i++)
        {
            <li class="@(i==currentPage?"active":"")"><a href="@url.Replace("pageReplace", i.ToString())">@i</a></li>
        }
        @if (currentPage < endPageNo)
        {
            <li><a href="@url.Replace("pageReplace", (currentPage+1).ToString())">&raquo;</a></li>
        }
    </ul>
}



